<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>disclaimer</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="icon" href="static/favicon.ico">
        <link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="<link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Images / Icons </h1>
        <div class="bottom-container">
            <a class="footer-link" href="https://www.freepik.com" title="Freepik">Freepik</a>
            <a class="footer-link" href="https://www.flaticon.com/authors/srip" title="srip">srip</a>
            <a class="footer-link" href="https://smashicons.com/" title="Smashicons">Smashicons</a> 
            <a class="footer-link" href="https://flaticon.com/" title="Flaticons">Flaticons</a> 
        </div>
    </body>
</html>